*{
  margin: 0;
  padding: 10px;
  font-family: "Ubuntu",sans-serif;
  background-color: #16171a;
}

.download{
  margin-top: 10px;
  color: #e0e0e0;
  text-align: center;
}

.download button{
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  border: solid 5px #2b44c4;
  border-radius: 25px;
  color: #acaeaf;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out 0.4s;
  background-color: #3d4fae;
}

.download button:hover{
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  border: solid 5px #2b44c4;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-in-out 0.4s;
  background-color: #3d4fae;
}